.time-table-wrap {
	margin-top: 20px;
	border: 1px solid #ddd;
	position: relative;
	.time-table {
		width: 100%;
		position: relative;
		color: #666;
		min-width: 1100px;
		tr {
			border-bottom: 1px solid #ddd;
			&:first-child {
				td {
					border-right: none;
					padding: 10px 0;
				}
			}
			&:last-child {
				border-bottom: none;
			}
			td {
				position: relative;
				text-align: center;
				border-right: 1px solid #ddd;
				&:first-child {
					width: 120px;
					text-align: right;
					.time {
						margin-right: 10px;
					}
				}
				&:last-child {
					border-right: none;
				}
				&.today {
					span {
						color: #0093e0;
					}
				}
				&.grid-td {
					.time-table-tmpl {
						position: absolute;
						width: 100%;
						z-index: 1;
						.overlay-wrap {
							width: 85%;
							height: 52px;
							background: rgb(255, 249, 217);
							border: 1px solid #E6E0C3; 
							box-sizing: border-box;
							font-size: 13px;
							color: #777;
							position: absolute;
							top: 0;
							left: 0;
							.shadow {
								position: absolute;
								width: 3px;
								background: rgb(255, 249, 217);
								border: 1px solid #E6E0C3;
								border-left: none;
								&-1 {
									height: 44px;
									right: -5px;
									top: 2px;
								}
								&-2 {
									top: 5px;
									height: 38px;
									right: -9px;
								}
							}
							.msg {
								text-align: left;
								padding-left: 10px;
								padding-top: 3px;
								color: #777;
								font-size: 14px;
							}
							.expand {
								text-align: right;
								padding-top: 3px;
								padding-right: 5px;
								color: #00A5FF;
								font-size: 12px;
								cursor: pointer;
								span {
									margin-right: 3px;
									color: #00A5FF;
								}
							}
						}
						.item {
							overflow: hidden;
							z-index: 1;
							position: absolute;
							box-sizing: border-box;
							
							border: 1px solid rgb(239, 239, 239);
							// &.lap {
							// 	transform: translate3d(-3px, 0, 0);
							// }
							p {
								font-size: 11px;
								padding: 2px;
								text-align: left;
							}
						}
					}
					.grid-column {
						position: relative;
						height: 26px;
						box-sizing: border-box;
						.icon-zoom {
							font-size: 10px;
						}
						
						> .tip {
							opacity: 0;
							position: absolute;
							right: 2px;
							top: -5px;
						}
						.btn-add {
							position: relative;
							display: none;
							border: none;
							padding: 0;
							border-radius: 0;
							text-align: center;
							line-height: 26px;
							height: 26px;
							background: #85d3fd;
							color: #fff;
							.icon-plus {
								background: transparent;
								font-size: 20px;
								//padding: 0 3px;
								height: initial;
								line-height: initial;
								vertical-align: initial;

							}
							&.btn-add-large {
								width: 100%;
							}
							&.btn-add-small {
								float: right;
								.icon-plus {
									font-size: 15px;
									//width: 12px;
								}
							}
						}
						&.grid-column-0-clip {
							border-bottom: 1px dashed #ddd;
						}
					}
				}
				span {
					&.date {
						margin-right: 10px;
					}
				}
			}
		}
	}
	.lesson-tip {
		position: absolute;
		margin-top: -3px;
    	padding: 5px 0;
    	left: 0;
    	top: 0;
    	transition: all .5s ease;
    	.arrow {
    		position: absolute;
		    width: 0;
		    height: 0;
		    border-style: solid;
		    border-color: transparent;	
    	}
    	&.top {
    		.arrow {
				bottom: 0;
			    left: 50%;
			    margin-left: -5px;
			    border-width: 5px 5px 0;
			    border-top-color: rgba(0, 0, 0, .9);
			}
    	}
    	&.left {
    		.arrow {
				right: -5px;
				top: 10%;
			    border-width: 5px 0 5px 5px;
			    border-left-color: rgba(0, 0, 0, .9);
			}
    	}
    	&.right {
    		.arrow {
				left: -5px;
				top: 10%;
			    border-width: 5px 5px 5px 0;
			    border-right-color: rgba(0, 0, 0, .9);
			}
    	}
    	&.bottom {
    		.arrow {
			}
    	}
		.tip-inner {
			max-width: 200px;
			min-width: 100px;
			min-height: 100px;
		    padding: 3px 8px;
		    color: #fff;
		    text-align: center;
		    background-color: rgba(0, 0, 0, .9);
		    border-radius: 4px;
		    p {
		    	text-align: left;
		    	padding: 2px 0 2px 2px;
		    	&.conflict {
		    		color: #f95710;
		    	}
		    }
		}
	}
	.mask-wrap {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 99;
		background: rgba(255, 255, 255, 0.8);
		.item {
			overflow: hidden;
			z-index: 1;
			display: inline-block;
			margin: 15px;
			padding: 10px;
			box-sizing: border-box;
			border: 1px solid #B6D6C0;
			background: #DFF7E6;
			&.one {
				background: #C7EBFF;
				border: 1px solid #AED1E6;
			}
			&.conflict {
				background: #fed9d7;
			}
			p {
				font-size: 11px;
				padding: 2px;
			}
		}
	}
	.modal-body {
		padding-top: 0;
		> .top {
			border-bottom: 1px solid #ddd;
			span {
				display: inline-block;
				padding: 5px 15px 8px 15px;
				cursor: pointer;
				&.active {
					border-bottom: 2px solid #00a7ff;
				}
			}
		}
		.info-body {
			padding: 10px;
		}
	}
}