@import '../common/color';

.time-picker-wrap {
	position: relative;
    .el-input {
        .el-input__inner {
            cursor: pointer;
        }
    }
    .dropdown_content {
        position: absolute;
        left: 0;
        top: 38px;
        color: #475669;
        border: 1px solid #d3dce6;
        box-sizing: border-box;
        box-shadow: 0 2px 6px #ccc;
        background: #fff;
        z-index: 10;
        .dropdown_content-top {
        	padding: 5px;
        	border-bottom: 1px solid #e4e4e4;
        	.spn {
        		 color: #9c9e9f;
        		 cursor: pointer;
        		 -webkit-user-select: none;
        		 user-select: none;
        		 moz-user-select: none;
        		 &:hover {
        		 	color: $theme-color;
        		 }
        	}
        	.dropdown_content-input {
			    margin: 0 5px;
			    position: relative;
			    border: 1px solid #c0ccda;
			    border-radius: 4px;
			    padding: 5px 10px;
			    box-sizing: border-box;
			    height: 28px;
			    outline: none;
			    -webkit-appearance: none;
			    -moz-appearance: none;
			    appearance: none;
			    -webkit-transition: border .3s;
			    transition: border .3s;
                max-width: 100px;
			    &.error {
			    	border-color: #ff4949;
			    	&:hover {
			    		border-color: #ff4949;
			    	}
			    }
			    &:hover {
			    	border-color: $theme-color;
			    }
        	}
        }
        .dropdown-list {
        	height: 167px;
        	overflow-y: auto;
        	li {
        		padding-left: 20px;
        		font-size: 14px;
        		&:hover {
        			background: $theme-color;
        			color: #fff;
        		}
        		&.active {
        			background: $theme-color;
        			color: #fff;
        		}
        	}
        }
    }
}