@import '../common/color';
.top-head_div {
	background: #F2F2F2;
	box-shadow: inset 0px -1px 0px 0px #E0E0E0;
	position: relative;
	.title_p {
		text-align: center;
		font-size: 18px;
		color: #393d40;
		height: 55px;
		line-height: 55px;
	}
	.icon-times {
		position: absolute;
		font-size: 24px;
		right: 30px;
		top: 8px;
		color: #9c9e9f;
		cursor: pointer;
		&:hover {
			color: $theme-color;
		}
	}
}