@import '../../../dep/bootstrap-sass/assets/stylesheets/bootstraplite';

@import './common/mixin';
@import './common/vue';
@import './common/vueTransitions';
@import './common/variable';
@import './common/color';
@import './common/top-nav';
@import './common/form';
@import './common/tabs';
@import './common/uploadDialog';
@import './common/audioPlayer';
@import './common/gobal';

@import './common/table';
@import './common/reset';
@import './common/navBar';
@import './common/notice';
@import './common/option';
@import './common/override';

@import './components/setHeader';
@import './components/timeTable';
@import './components/topHead';
@import './components/region';
@import './components/timePicker';
@import './components/follow';

@import '../../../dep/iconfont/iconfont.css';
// @import '../../../dep/icomoon4.0/style.css';
@import '../../../dep/zoomimage/css/zoomimage.css';

@import '../../modules/style';
.modal-open {
	overflow-y: hidden;
}
.btn-group {
	&.open {
		.dropdown-toggle {
			box-shadow: none;
		}
	}
	.btn-default {
		background: #fff;
		&:hover {
			background: #fff;
			box-shadow: none;
		}
		&:active {
			background: #fff;
			box-shadow: none;
		}
	}
}
.btn-group {
	&.open {
		.btn-default {
			&.dropdown-toggle {
				box-shadow: none;
				background-color: #fff;
				border-color: #ccc;
			}
		}
	}
	.btn-default {
		background: #fff;
		&:hover {
			background: #fff;
			box-shadow: none;
		}
		&:active {
			background: #fff;
			box-shadow: none;
		}
	}
}
.main {
	padding-left: 192px;
	height: 100%;
	background: #F6F7F9;
	padding-top: 50px;
	&-content {
		padding-bottom: 10px;
		background: #F6F7F9;
		// box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
	}
	-webkit-tap-highlight-color: transparent;

	.list-wrapper {
		padding: 30px;
	}

}

