/**
 * @file 导航栏
 * @author lixioabin
 *
 * 必须放在body的第一个元素
 * 这里通过修改它的后一个元素的 margin-top 来给页面提供margin-top，没有使用body的padding的原因是百度直达号会重新body的padding
 */

.nav-bar {

    background-color: #00ccff;
    position: relative;
    top: 0;
    justify-content: space-between;

    font-size: 1.4rem;
    height: 4.4rem;
    line-height: 4.4rem;
    z-index: 10;
    width: 100%;

    > h1 {
        color: #FFF;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 1.8rem;
        display: block;
        margin: 0 3.5rem;
        height: 100%;
        line-height: 4.4rem;
    }

    > a {
        padding: 0 1rem;
        position: absolute;
        color: #FFF;
        font-weight: bold;
        text-decoration: none;
        font-size: 1.8rem;

        &:first-child {
            left: 0;
        }
        &:hover {
            text-decoration: none;
            color: #FFF;
        }
        &:active,
        &:focus {
            text-decoration: none;
        }

        &:last-child {
            right: 0;
        }

        &:first-child {
            height: 4.4rem;
            line-height: 4.4rem;
        }
    }

    .icon-angle-left {
        font-weight: bold;
        font-size: 2.2rem;
    }
    .menu-button {
        position: absolute;
        width: 40px;
        height: 40px;
        right: 3px;
        top: 2px;
        font-size: 22px;
        text-align: center;
        .icon {
            position: absolute;
            color: #555;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }
}

