@import './color';
.top-nav {
	background: #393D40;
    width: 100%;
    text-align: right;
    padding-right: 10px;
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    border-bottom: 1px solid #2b3643;
	> li {
		display: inline-block;
		list-style: none;
		vertical-align: middle;
		height: 49px;
		line-height: 49px;
		margin-right: 10px;
		position: relative;
		&:hover {
			background: #292D30;
		}
		&.message {
			padding: 0 15px;
			cursor: pointer;
			.badge {
				background: #f44336;
				color: #fff;
				border-radius: 8px;
			    font-size: 12px;
			    line-height: 1.2;
			    padding: 2px 6px;
			    position: absolute;
			    top: 10px;
			    right: 15px;
			}
			.iconfont {
				font-size: 28px;
				color: #fff;
				top: 2px;
			}
		}
		&.brandlogo {
			// padding-top: 10px;
			width: 192px;
			//margin-left: 40px;
			float: left;
			background: url('../../resource/img/pc-logo.png') no-repeat;
			background-size: cover;
			// display: none;
			// img {
			// 	margin-top: 10px;
			// }
		}
		&.user-info {
			margin-right: 40px;
			padding: 0 15px;
			.dropdown-link {
				color: #fff;
				margin-left: 10px;
				line-height: 50px;
				cursor: pointer;
				// display: inline-block;
				i {
					// line-height: 50px;
					margin-left: 5px;
				}
			}
		}
		> .logo {
			border-radius: 50%;
		    vertical-align: middle;
		    margin-right: 3px;
		    border: 1px solid #393D40;
		}
		> .iconfont {
			font-size: 20px;
			vertical-align: middle;
			position: relative;
			top: -3px;
		}
		&.link {
			font-size: 24px;
			margin-right: 40px;
			.quick-link {
				cursor: pointer;
			}
			.popover {
				max-width: 300px;
				width: 300px;
				right: 0;
				left: auto;
				.arrow {
					left: 94%;
				}
				.popover-title {
					height: 30px;
					line-height: 30px;
					span {
						font-size: 20px;
						color: #6f7276;
						margin-left: 10px;
					}
				}
				.popover-content {
					padding: 0px;
					margin: 20px 20px 0 20px;
					@include clearfix;
				}
			}
		}
		&.msg {
			font-size: 25px;
			margin-right: 40px;
			.popover {
				width: 300px;
				max-width: 300px;
				right: 0;
				left: auto;
				.arrow {
					left: 94%;
				}
				.popover-title {
					height: 30px;
					line-height: 30px;
					span {
						font-size: 20px;
						color: #6f7276;
						margin-left: 10px;
					}
				}
			}
			.message {
				position: relative;
				cursor: pointer;
				i {
					position: absolute;
					display: inline-block;
					width: 22px;
					height: 22px;
					border-radius: 12px;
					background: #f51e0b;
					color: #ffffff;
					font-style: normal;
					font-size: 12px;
					font-weight: 700;
					top: -5px;
					left: 0;
					text-align: center;
					line-height: 15px;
				}
			}
		}
		&.arrow {
			.btn-group {
				color: #fff;
				.dropdown-menu a{
					color: #000;
				}
			}
		}
	}
}
.link-do-list {
	list-style: none;
	>li {
		display: inline-block;
		float: left;
		width: 120px;
		height: 50px;
		line-height: 50px;
		font-size: 16px;
		border-radius: 10px;
		box-sizing: border-box;
		text-align: center;
		background: #1ac8ff;
		color: #fff;
		margin-bottom: 20px;
		cursor: pointer;
		&:nth-child(odd) {
			margin-right: 20px;
		}
		&:nth-child(6n+1) {
			background-color: #6d9bfb;
		}
		&:nth-child(6n+2) {
			background-color: #ff674d;
		}
		&:nth-child(6n+3) {
			background-color: #2ed1d3;
		}
		&:nth-child(6n+4) {
			background-color: #90d1f4;
		}
		&:nth-child(6n+5) {
			background-color: #ffc438;
		}
		&:nth-child(6n) {
			background-color: #68cf84;
		}
	}
}
.my-menu-target {
	cursor: pointer;
}
.msg-popover {
	.el-popover {
		padding: 0;
	}
}
.quick-message-wrap {
	.t-p {
		background: #f5f7f7;
		padding: 10px;
		font-size: 12px;
		color: #393d40;
		border-bottom: 1px solid #e5e6e7;
	}
	ul {
		max-height: 240px;
		overflow-y: auto;
		li {
			background: #fff;
			padding: 10px;
			border-bottom: 1px solid #e5e6e7;
			&:hover {
				background: #eee;
			}
			p {
				font-size: 12px;
				color: #393d40;
				line-height: 1.5;
				span {
					font-size: 12px;
					color: #9c9e9f;
				}
			}
		}
	}
	> div {
		padding: 10px;
	    font-size: 14px;
	    text-align: center;
	    font-style: italic;
	}
	.bottom {
		cursor: pointer;
		padding: 10px;
		font-size: 12px;
		color: $theme-color;
		.iconfont {
			font-size: 12px;
		}
	}
}
.dropdown-menu {
	&.my-menu {
		max-width: 80px;
		min-width: 80px;
		left: none;
		left: inherit;
		right: 0;
		> li {
			> a {
				text-decoration: none;
			}
		}
		&-target {
			cursor: pointer;
		}
	}
}