<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="UTF-8">
        <title>学生身份绑定</title>
        <meta name="apple-mobile-web-app-capable" content="yes" />

        <!-- Full screen -->
       <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">

        <!-- iOS mobile-web-app -->
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
        <meta name="apple-mobile-web-app-title" content="" />

        <!-- Android mobile-web-app -->
        <meta name="mobile-web-app-capable" content="yes" />
        <style>
            html {
                font-size: 62.5%;
            }
        </style>
        <!-- Browser -->
        <!-- <link rel="shortcut icon" href="http://www.tianxiao100.com/favicon.ico" type="image/x-icon" /> -->
        <!-- Other -->
        <meta name="format-detection" content="telephone=no">

    </head>
    <body>
		<div id="app"></div>
        <script>
            document.body.style.fontSize = '1.2rem';
        </script>
    </body>
</html>
